.App {
    text-align: center;
    margin : 0;
}

body {
  margin : 0;
}

.signing {
    text-align: center;
    margin : 5em auto;
    width: 40%;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.MaterialForm {
  text-align: center;
  margin : 5em auto;
  width: 40%;
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
